body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background: #2e7d32;
  color: white;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  background: url("../public/landscape.jpg") no-repeat center/cover;
  color: white;
  padding: 100px 20px;
}

.hero-title {
  color: #2e7d32;
}

.title-text {
  color: #2e7d32;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#gallery {
  text-align: center;
  padding: 50px 20px;
  background: #f4f4f4;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  max-width: 1000px;
  margin: auto;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}
